/* media query guide
 * https: //gist.github.com/bartholomej/8415655 
 * https: //css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFEF6;
    height: 3000px;
}
  
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
} */

.wish-guest-color {
    margin-top: 10px;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-evenly;
}

.circle-1 {
    fill: #CAD6D2;
    stroke: #888888;
    stroke-width: 1px;
}
.circle-2 {
    fill: #DFAEB2;
    stroke: #888888;
    stroke-width: 1px;
}
.circle-3 {
    fill: #F9DDDA;
    stroke: #888888;
    stroke-width: 1px;
}
.circle-4 {
    fill: #D6E4E7;
    stroke: #888888;
    stroke-width: 1px;
}
.circle-5 {
    fill: #D7CDC1;
    stroke: #888888;
    stroke-width: 1px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFEF6;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.container-calendar {
    font-family: 'VeryBerryPro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFEF6;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.calendar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    font-size: 26px;
    font-family: 'MADE GoodTime Script';
}

.calendar-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.calendar-column {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}
.calendar-column p {
    margin-block-start: 0;
    margin-block-end: 0;    
}

.names {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: #CB4C38;
}
.names h3 {
    margin-block-start: 0;
    margin-block-end: 0;    


}

.august {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 35px;
    color: #CB4C38;
    margin-block-start: 0;
    margin-block-end: 0;    
}

.content {
    flex: 2;
    /* padding: 50px; */
    text-align: center;
    margin-top: 1em;
}

.left-image {
    position: absolute;
    transform: scale(-1, -1);
    left: 0.1em;
    bottom: 0.1em;
}

.right-image {
    position: absolute;
    right: 0.1em;
    top: 0.1em;
}

.invite {
    margin-top: 100px;
    font-family: 'MADE GoodTime Script', sans-serif;
    color: #646464;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.calendar-number {
    color: rgb(198, 198, 198);
}

.calendar-day {
    color: rgb(130, 130, 130);
    font-size: 23px;
}

.calendar-day-x {
    /* background-color: #CB4C38; */
    position: relative;
}

.calendar-day-x-image {
    position: absolute;
    bottom: -5px;
    left: -5px;
}

.split-long-flower {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.timer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-family: 'MADE GoodTime Script';
}

.timer-name {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 35px;
    color: #CB4C38;
    margin-block-start: 0;
    margin-block-end: 0;    
}

.timer-counter {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
}

.timer-counter-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wish-guest-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-family: 'MADE GoodTime Script';
    text-align: center;
}

.wish-guest-name {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 35px;
    color: #CB4C38;
    margin-block-start: 0;
    margin-block-end: 0;    
}


.program-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-family: 'MADE GoodTime Script';
    text-align: center;
}

.program-name {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 35px;
    color: #CB4C38;
    margin-block-start: 0;
    margin-block-end: 0;    
}

.program-area {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.program-area-text {
    width: 300px;  
    text-align: left; 
    margin-left: 40px;
}

.program-area-text-time {
    font-weight: bold;
}

.map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map-container-address {
    font-family: 'VeryBerryPro', sans-serif;
    font-size: 35px;
    color: #CB4C38;
    margin-block-start: 0;
    margin-block-end: 0;    
}

.map-container-address-info {
    font-family: 'MADE GoodTime Script', sans-serif;
    color: #646464;
    font-size: 30px;
    padding: 0;
    margin: 0;

}

/* h1 {
    font-size: calc(1em + 4vw);
} */

.names {
    font-size: calc(1em + 2vw);
    display: flex;
    flex-direction: column;
}

.names .andrey {
    height: 1em;
    text-align: start;
    width: 100%;
}

.names .anna {
    height: 1em;
    text-align: end;
    width: 100%;
}

.names .and {
    font-size: calc(1em);
    text-align: center;
    height: 1em;
    width: 100%;
}

.invite {
    font-size: calc(0.5em + 1vw);
}

/* .program-area-img {
    position: relative;
    overflow:hidden;
    width:300px;
    height:300px;
 }
 
 .program-area-img img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    object-fit:cover;
 } */
   

@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
        url('fonts/Caravan/Caravan.woff2') format('woff2'),
        url('fonts/Caravan/Caravan.woff') format('woff'),
        url('fonts/Caravan/Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ceremonious Two';
    src: url('CeremoniousTwo.eot');
    src: local('Ceremonious Two'), local('CeremoniousTwo'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.eot?#iefix') format('embedded-opentype'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.woff') format('woff'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Grotesk';
    src: url('MADEGoodTimeGrotesk.eot');
    src: local('MADE GoodTime Grotesk'), local('MADEGoodTimeGrotesk'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Script';
    src: url('MADEGoodTimeScript.eot');
    src: local('MADE GoodTime Script'), local('MADEGoodTimeScript'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lovelies Script';
    src: url('TTLoveliesScript.eot');
    src: local('TT Lovelies Script'), local('TTLoveliesScript'),
        url('fonts/TT Lovelies/TTLoveliesScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff2') format('woff2'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff') format('woff'),
        url('fonts/TT Lovelies/TTLoveliesScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VeryBerryPro';
    src: url('VeryBerryPro-Regular.eot');
    src: local('VeryBerry Pro'), local('VeryBerryPro-Regular'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff2') format('woff2'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff') format('woff'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}