/* media query guide
 * https: //gist.github.com/bartholomej/8415655 
 * https: //css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

html {
    background-image: url(background/smooth-white-stucco-wall.webp);
    background-size: contain;
    /* background: green; */
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    /* height: 3000px; */
}
.container {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

/* .first-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

/* #first-section-left-flower {
    position: absolute;
    left: 0.01em;
    bottom: 0.01em;
    z-index: -1;
}

#first-section-right-flower {
    position: absolute;
    right: 0.01em;
    top: 0.01em;
} */

/* #new {
    stroke-width: 4;
    stroke: #CB4C38;
    animation: letter-animation 10s linear forwards 0s;
} */

.names {    
    margin-bottom: calc(-3em + 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.names-andrey {
    stroke-width: 0.5;
    stroke: rgb(0, 0, 0);
    fill: none;
}
#names-andrey path:nth-child(6) {
    animation: letter-animation 1s linear forwards 0s;
    /* animation-delay: 2.25s; */
}
#names-andrey path:nth-child(5) {
    animation: letter-animation 1s linear forwards 0s;
    /* animation-delay: 2.25s; */
}
#names-andrey path:nth-child(4) {
    animation: letter-animation 1s linear forwards 0.6s;
}
#names-andrey path:nth-child(3) {
    animation: letter-animation 1s linear forwards 1.2s;
}
#names-andrey path:nth-child(2) {
    animation: letter-animation 1s linear forwards 1.8s;
}
#names-andrey path:nth-child(1) {
    animation: letter-animation 1s linear forwards 2.4s;
}
.names-andrey-div {
    position: relative;
    top: calc(1em + 5vw);
}

.names-and {
    stroke-width: 0.4;
    stroke: rgb(0, 0, 0);
    fill: none;
}
#names-and path:nth-child(1) {
    animation: letter-animation 1s linear forwards 0.6s;
    /* animation-delay: 2.25s; */
}

.names-anna {
    stroke-width: 0.4;
    stroke: rgb(0, 0, 0);
    fill: none;
}
#names-anna path:nth-child(4) {
    animation: letter-animation 1s linear forwards 1s;
}
#names-anna path:nth-child(3) {
    animation: letter-animation 1s linear forwards 1.6s;
}
#names-anna path:nth-child(2) {
    animation: letter-animation 1s linear forwards 2.2s;
}
#names-anna path:nth-child(1) {
    animation: letter-animation 1s linear forwards 2.6s;
}
.names-anna-div {
    position: relative;
    top: calc(-1 * (1em + 5vw));
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1em + 50vw);
}

.photo img {
    width: 100%;
    opacity: 0;
    height: auto;
    animation: photo-animation 0.5s linear forwards 2s;
}

.invite {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
}

.invite-text {
    stroke-width: 2;
    stroke: rgb(0, 0, 0);
    fill: none;
}

#invite-text-path {
    opacity: 0;
    transform: translate(0,-1em);  
    animation: letter-animation 1s linear forwards 2s;
}

.invite-date {
    color: rgb(47, 47, 47);
    /* font-weight: bold; */
    font-size: calc(1em + 2vw);
    font-family: 'Merriweather Italic';
    opacity: 0;
    transform: translate(0,-1em);  
    animation: invite-animation 2s linear forwards 3s;  
}

/* .second-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

.calendar-name {
    stroke-width: 0.4;
    stroke: rgb(0, 0, 0);
}
#calendar-name path:nth-child(6) {
    animation: letter-animation 1s linear forwards 0s;
    /* animation-delay: 2.25s; */
}
#calendar-name path:nth-child(5) {
    animation: letter-animation 1s linear forwards 0s;
    /* animation-delay: 2.25s; */
}
#calendar-name path:nth-child(4) {
    animation: letter-animation 1s linear forwards 0.6s;
}
#calendar-name path:nth-child(3) {
    animation: letter-animation 1s linear forwards 1.2s;
}
#calendar-name path:nth-child(2) {
    animation: letter-animation 1s linear forwards 1.8s;
}
#calendar-name path:nth-child(1) {
    animation: letter-animation 1s linear forwards 2.4s;
}

.container-calendar {
    font-family: 'VeryBerryPro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFEF6;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30vw);
    font-family: 'Merriweather Italic';
}
.calendar-view {
    width: 100%;
    display: flex;
    font-size: calc(0.2em + 3vw);
}
.calendar-column {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}
.calendar-column p {
    margin-block-start: 0;
    margin-block-end: 0;    
}
.calendar-day-select {
    position: relative;
}
#calendar-heart-svg {
    position: absolute;
    left: calc(-6px - 0.7vw); 
    right: 0;
    top: -2.5vw;
    margin-left: auto; 
    margin-right: auto; 
    width: 3em;
    stroke-width: 2;
    stroke: rgb(255, 64, 64);
    z-index: 1;
    animation: calendar-heart 1.3s 1s infinite;
    animation-timing-function: ease-out;
}
#calendar-heart-svg path {
    animation: letter-animation 1s linear forwards 3.4s;
}
.calendar-column p {
    transform: translate(0,-2em);  
    opacity: 0;
    animation: calendar-view 2s linear forwards 1s;
}
.calendar-day { 
    color:rgb(144, 144, 144); 
}

/* .third-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

.timer-names {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#timer-name-1 path {
    stroke-width: 0.1em;
    stroke:rgb(0, 0, 0);
    animation: letter-animation 25s linear forwards 0s;
}
#timer-name-2 path {
    stroke-width: 0.1em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 25s linear forwards 1s;
}
.timer-view {
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    width: 90%;
    opacity: 0;
    transform: translate(0, -5em);
    animation: timer-view 3s linear forwards 1s;
}
.timer-view-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: calc(10em + 10vw); */
    width: 10vw;
    font-family: 'Merriweather Italic';
    /* font-size: calc(1em + 1vw); */
}
.timer-view-column-label {
    font-size: calc(0.3em + 3vw);
}
.timer-view-column-number {
    font-size: calc(0.7em + 3vw);
}
.timer-view-split {
    font-size: calc(1em + 3vw);
}

/* .fourth-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

#wish-guest-color-1 {
    fill: #CAD6D2;
    stroke: #888888;
    stroke-width: 1px;
}
#wish-guest-color-2 {
    fill: #DFAEB2;
    stroke: #888888;
    stroke-width: 1px;
}
#wish-guest-color-3 {
    fill: #F9DDDA;
    stroke: #888888;
    stroke-width: 1px;
}
#wish-guest-color-4 {
    fill: #D6E4E7;
    stroke: #888888;
    stroke-width: 1px;
}
#wish-guest-color-5 {
    fill: #D7CDC1;
    stroke: #888888;
    stroke-width: 1px;
}
.wish-guest {
    width: 100%;
}
.wish-guest-color {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.wish-guest-names {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wish-guest-text {
    text-align: center;
    font-family: 'Merriweather Italic';
    font-size: calc(0.4em + 3vw);
    letter-spacing: 0.07em;
    opacity: 0;
    transform: translate(0, -5em);
    margin-bottom: 5vw;
    color: rgb(27, 27, 27);
    animation: timer-view 2s linear forwards 1s;
}
#wish-guest-1-path {
    stroke-width: 0.15em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 15s linear forwards 0s;
}
#wish-guest-2-path {
    stroke-width: 0.15em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 15s linear forwards 2s;
}
#wish-guest-color-1 {
    opacity: 0;
    animation: color 2s linear forwards 2s;
}
#wish-guest-color-2 {
    opacity: 0;
    animation: color 2s linear forwards 2.3s;
}
#wish-guest-color-3 {
    opacity: 0;
    animation: color 2s linear forwards 2.6s;
}
#wish-guest-color-4 {
    opacity: 0;
    animation: color 2s linear forwards 2.9s;
}
#wish-guest-color-5 {
    opacity: 0;
    animation: color 2s linear forwards 3.2s;
}

/* .fifth-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

#program-name-path {
    stroke-width: 0.2em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 25s linear forwards 0s;
}
.program-area {
    display: flex;
    width: 100%;
    margin-top: 4vw;
}
.program-area-img img {
    width: 32vw;
}
.program-area-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-family: 'Merriweather Italic';
    margin-left: 4vw;
}
.program-area-text-time {
    font-size: calc(0.5em + 4vw);
    margin-bottom: 1vw;
}
.program-area-text-label {
    font-size: calc(0.3em + 2.5vw);
}
#program-area-1 {
    opacity: 0;
    animation: program 1.5s linear forwards 1s;
}
#program-area-2 {
    opacity: 0;
    animation: program 1.5s linear forwards 2s;
}
#program-area-3 {
    opacity: 0;
    animation: program 1.5s linear forwards 3s;
}

/* .sixth-section {
    margin: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

.map-label {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#map-name-path {
    stroke-width: 0.1em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 15s linear forwards 0s;
}
#map-logo-path {
    stroke-width: 1em;
    stroke: rgb(0, 0, 0);
    animation: letter-animation 15s linear forwards 0s;
}
.map-address {
    opacity: 0;
    margin-top: 5vw;
    font-size: calc(0.5em + 2.5vw);
    text-align: center;
    font-family: 'Merriweather Italic';
    opacity: 0;
    animation: map-address 1.5s linear forwards 1s;
}
.map-view {
    width: 100%;
    margin-top: 3vw;
}
.map-view iframe {
    width: 100%;
    height: 40vw;
}


@keyframes letter-animation {
    to {
        opacity: 1;
        transform: translate(0,0);
        stroke-dashoffset: 0;
    }
}

@keyframes invite-animation {
    to {
        opacity: 1;
        transform: translate(0,0);  
    }
}

@keyframes photo-animation {
    to {
        opacity: 1;
        transform: translate(0,0);  
    }
}

@keyframes calendar-view {
    to {
        opacity: 1;
        transform: translate(0,0);  
    }
}

@keyframes calendar-heart {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes timer-view {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes color {
    to {
        opacity: 1;
    }
}

@keyframes program {
    to {
        opacity: 1;
    }
}

@keyframes map-address {
    to {
        opacity: 1;
    }
}


@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
        url('fonts/Caravan/Caravan.woff2') format('woff2'),
        url('fonts/Caravan/Caravan.woff') format('woff'),
        url('fonts/Caravan/Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ceremonious Two';
    src: url('CeremoniousTwo.eot');
    src: local('Ceremonious Two'), local('CeremoniousTwo'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.eot?#iefix') format('embedded-opentype'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.woff') format('woff'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Grotesk';
    src: url('MADEGoodTimeGrotesk.eot');
    src: local('MADE GoodTime Grotesk'), local('MADEGoodTimeGrotesk'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Script';
    src: url('MADEGoodTimeScript.eot');
    src: local('MADE GoodTime Script'), local('MADEGoodTimeScript'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lovelies Script';
    src: url('TTLoveliesScript.eot');
    src: local('TT Lovelies Script'), local('TTLoveliesScript'),
        url('fonts/TT Lovelies/TTLoveliesScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff2') format('woff2'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff') format('woff'),
        url('fonts/TT Lovelies/TTLoveliesScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VeryBerryPro';
    src: url('VeryBerryPro-Regular.eot');
    src: local('VeryBerry Pro'), local('VeryBerryPro-Regular'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff2') format('woff2'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff') format('woff'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('Merriweather-Light.eot');
    src: local('Merriweather Light'), local('Merriweather-Light'),
        url('fonts/Merriweather/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Italic';
    src: url('Merriweather-Italic.eot');
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
        url('fonts/Merriweather/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}