/* media query guide
 * https: //gist.github.com/bartholomej/8415655 
 * https: //css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFEF6;
    height: 3000px;
}

.first-section {
    margin: 1em;
}

.names {    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.names-andrey {
    stroke-width: 2;
    stroke: #CB4C38;
    fill: none;
}
#names-andrey path:nth-child(5) {
    animation: letter-animation 1s linear forwards 0s;
    /* animation-delay: 2.25s; */
}
#names-andrey path:nth-child(4) {
    animation: letter-animation 1s linear forwards 0.6s;
}
#names-andrey path:nth-child(3) {
    animation: letter-animation 1s linear forwards 1.2s;
}
#names-andrey path:nth-child(2) {
    animation: letter-animation 1s linear forwards 1.8s;
}
#names-andrey path:nth-child(1) {
    animation: letter-animation 1s linear forwards 2.4s;
}

.names-and {
    stroke-width: 2;
    stroke: #CB4C38;
    fill: none;
}
#names-and path:nth-child(1) {
    animation: letter-animation 1s linear forwards 0.6s;
    /* animation-delay: 2.25s; */
}

.names-anna {
    stroke-width: 2;
    stroke: #CB4C38;
    fill: none;
}
#names-anna path:nth-child(4) {
    animation: letter-animation 1s linear forwards 1s;
}
#names-anna path:nth-child(3) {
    animation: letter-animation 1s linear forwards 1.6s;
}
#names-anna path:nth-child(2) {
    animation: letter-animation 1s linear forwards 2.2s;
}
#names-anna path:nth-child(1) {
    animation: letter-animation 1s linear forwards 2.6s;
}

.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin-top: 1em;
    font-size: calc(1em + 1vw);
    font-family: 'Merriweather';
}


@keyframes letter-animation {
    to {
        stroke-dashoffset: 0;
    }
}

/* @keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: red;
    }
} */


@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
        url('fonts/Caravan/Caravan.woff2') format('woff2'),
        url('fonts/Caravan/Caravan.woff') format('woff'),
        url('fonts/Caravan/Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ceremonious Two';
    src: url('CeremoniousTwo.eot');
    src: local('Ceremonious Two'), local('CeremoniousTwo'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.eot?#iefix') format('embedded-opentype'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.woff') format('woff'),
        url('fonts/CeremoniousTwo/CeremoniousTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Grotesk';
    src: url('MADEGoodTimeGrotesk.eot');
    src: local('MADE GoodTime Grotesk'), local('MADEGoodTimeGrotesk'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE GoodTime Script';
    src: url('MADEGoodTimeScript.eot');
    src: local('MADE GoodTime Script'), local('MADEGoodTimeScript'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff2') format('woff2'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.woff') format('woff'),
        url('fonts/MADE\ GoodTime/MADEGoodTimeScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lovelies Script';
    src: url('TTLoveliesScript.eot');
    src: local('TT Lovelies Script'), local('TTLoveliesScript'),
        url('fonts/TT Lovelies/TTLoveliesScript.eot?#iefix') format('embedded-opentype'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff2') format('woff2'),
        url('fonts/TT Lovelies/TTLoveliesScript.woff') format('woff'),
        url('fonts/TT Lovelies/TTLoveliesScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VeryBerryPro';
    src: url('VeryBerryPro-Regular.eot');
    src: local('VeryBerry Pro'), local('VeryBerryPro-Regular'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff2') format('woff2'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.woff') format('woff'),
        url('fonts/VeryBerry Pro/VeryBerryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Italic.eot');
    src: local('Merriweather Light'), local('Merriweather-Italic'),
        url('fonts/Merriweather/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}