body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-top: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

.rotate-image {
    transform: rotate(180deg);
}

a:hover {
    color: #23527c;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-right: 0;
    }
    nav a {
        margin-bottom: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    img {
        max-width: 60%;
    }
}

@media (min-width: 768px) {
    img {
        max-width: 80%;
    }
}


html {
    font-size: 18px;
}

body {
    font-size: 100%; /* эквивалентно 16px */
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

.wedding_inv {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.image-left {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.image-right {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.img_abs_container {
    background-color: #23527c;
    width: 100%;
    height: 100%;
    position: relative;
}

.text-center {
    flex: 2;
    text-align: center;
    font-size: 100px;
}

@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
        url('fonts/Caravan/Caravan.woff2') format('woff2'),
        url('fonts/Caravan/Caravan.woff') format('woff'),
        url('fonts/Caravan/Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Caravan';
}


